version: '3.5' 

services:

  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=example

  redis:
    image: redis
    restart: unless-stopped 
    ports:
    - 6379:6379

  frontend: 
    image: frontend
    ports: 
      - 5000:5000 
    environment:
      - API_URL=http://localhost:8000

  backend: 
    image: backend
    ports: 
      - 8000:8000 
    environment:
      - FRONT_URL=http://localhost:5000
      - REDIS=redis
      - REDIS_PORT=6379
      - DB_USERNAME=user
      - DB_PASSWORD=example
      - DB_HOST=db